.body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  background-color: #05e84b;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
.navbarNav {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  list-style: none;
  background-color: #05e84b;
}
.imagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;    
  
}

.imagem1, .imagem2, .imagem3 {
   max-width: 200px;
   height: auto;
  border-radius: 10px;
}

.galeriacontainer {
  display: grid;
  grid-template-columns:1fr 1fr 1fr; 
  gap: 20px;
  padding: 10px;
  justify-content: center;
}

.imagem-container {
  display: grid;
  justify-content: center; 
  grid-area: imagem-container;
}

.grid-container {
  display: grid; 
  grid-template-columns:1fr 2fr 2fr 1fr;
  justify-content: center;
  align-self: flex-end;
  gap: 20px; 
  align-items: center;
  justify-items: center;
  padding: 20px;
  grid-template-areas: ". imagem-container formulario-container . ";
}

.rodape {
  justify-content: center;
  background-color: #05e84b;
  flex-wrap: wrap;
  display: flex;
}

.nome2, .cnpj, .endereco, .cep, .telefone {
  justify-self: center;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .grid-container {
    grid-template-columns:1 fr;
    grid-template-areas: "imagem-container"
    " formulario-container";
   
  }
  .imagem1, .imagem2, .imagem3 {
    width: 200px;  
  }

  .rodape {
    flex-direction: column;
    align-items: center;
  }

  .cabeçalho {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 120px;
    height: 120px;
  }
}
